{% extends 'polls/index.html' %}

{% block main_content %}
	<h1>Inicio de sesión </h1>
{% load crispy_forms_tags %}
	<form method="POST">
		{% csrf_token %}
		{{form | crispy}}
		<button>Log in</button>
		<p> ¿No tiene usuario creado? Registrese <a href="../register">aquí</a></p>
	</form>
{% endblock %}
