{% extends 'polls/index.html' %}

{% block main_content %}
	<h1>Cerrar sesión</h1>
	<form method="POST">
		{% csrf_token %}
		{{user.username = None}}
		<button>Log out</button>
	</form>
{% endblock %}
