{% extends 'polls/index.html' %}

{% block main_content %}
	<h1>Creación de nuevo usuario </h1>
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<button>Registrarme</button>
	</form>
{% endblock %}
