<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Base</title>
<!Título de la página>
<!Este base estará presente en todas las pantallas de /polls>
<h1 align="center"> <a href="../../">Trabajo final de grado.</a></h1>
<h2 align="center"> Aplicación web para consultas utilizando el método Schulze</h2>
  </head>
  <!Se establece el fondo de todas las páginas>
  <body style="background-color:rgb(190,230,240);">
   <hr> 
    
    <!Se comprueba si el usuario ha iniciado sesión>
    {% if user.username != "" %}  
	<p align="right"> <strong> Usuario: </strong> {{user.username}}    
	<p align="right"><a href="/polls/logout"><input type="button" value="Log out"/></a></p></p>
	<input type="hidden" name="userName" value="{{ user.username }}">
    {% endif %}

	<!Incluye el main_content y el footer>
  	{% block main_content %}
	{% endblock %}
  
	{% include "polls/footer.html" %}
	
  </body>
</html>
