{% extends 'polls/base.html' %}

<!Esta página permite la posibilidad al usuario creador de la consulta de cerrar la consulta, o de por contrario mostrar el enlace a la misma o volver al Home de la aplicación>
{% block main_content %}
	<h3>A continuación podrá hacer las siguientes acciones con su consulta: "<b>{{ question.question_text }}</b>"</b>? </h3>
	<p>Link y QR de la consulta "<b>{{ question.question_text }}</b>": <a href="/polls/{{ question.id }}/qrlink">localhost:8000/polls/{{ question.id }}/qrlink</a></p>


	<li>A continuación podrá dar por finalizada la consulta y mostrar el vencedor: <a href = "/polls/{{ question.id }}/winner"><b>Cerrar</b></a></p<li>
	<li>Si desea volver al home: <a href = "/"><b>Volver al home</b></a></p></li>
{% endblock %}
