{% extends 'polls/base.html' %}

{% block main_content %}
<!Esta pantalla pertenece a la creación de la consulta>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!Se introduce el título de la consulta y las opciones de la misma>
    <h1>Cree una consulta</h1>
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
		{{ message }}
	    </li>
	    {% endfor %}
	</ul>

	<form action = "../savedpoll/" method="post">
	{% csrf_token %}
	<!El código del javascript está basado en el siguiente que se encuentra en el siguiente enlace:> 
	<!https://es.coredump.biz/questions/23563141/how-to-add-auto-complete-json-for-dynamically-generated-textboxes-in-aspnet#23563313>
   	<p>Título: <input type="text" name="questionName" ></p>

	<style type="text/css">
	div{
	    padding:6px;	
	}
	</style>


	<script type="text/javascript">

	$(document).ready(function(){

	var counter = 2;

	$("#addButton").click(function () {
	var newTextBoxDiv = $(document.createElement('div'))
	     .attr("id", 'TextBoxDiv' + counter);

	<!-- De esta manera le pasamos el contenido de cada Choice -->
	newTextBoxDiv.after().html('<label>Opción #'+ counter + ' : </label>' +
	      '<input type="text" name="textbox' + counter + 
	      '" id="textbox' + counter + '" value="" >');        			

	newTextBoxDiv.appendTo("#TextBoxesGroup");


	counter++;
 	document.getElementById('i').value = counter;	
	 });

	<!-- Se eliminan los botones de la siguiente manera -->
	 $("#removeButton").click(function () {
	if(counter==1){
	      alert("No more textbox to remove");
	      return false;
	   }   

	counter--;

	    $("#TextBoxDiv" + counter).remove();
 	document.getElementById('i').value = counter;	
	 });

	  });

	</script>

	<!Se le pasan al views el ID de las consultas>
	<input type="hidden" id="i" value= "0" name="count"></input>
	<div id='TextBoxesGroup'>

	<div id="TextBoxDiv1">
	    <label>Opción #1 : </label><input type='textbox' id='textbox1' name='textbox1'>
	</div>
	</div>
	<input type='button' value='Añadir nueva opción' id='addButton'>
	<input type='button' value='Eliminiar última opción' id='removeButton'>
        <input type="reset" value="Restaurar consulta">		
    <p>
        <input type="submit" value="Enviar datos">



</form>

    </p>



{% endblock %}
