{% extends 'polls/base.html' %}


{% block main_content %}
	
	<!Se muestra de diferente manera esta pantalla en función de si el usuario ha iniciado sesión o si la ha cerrado>
	<!Si inicia sesión se permite ver las consultas que tenga activas este usuario o crear una nueva consulta!>
	{% if user.username != "" %}
       	<h2>User: {{user.username}}</h2>
		<p>Cree una encuesta: <a href="../createpoll">Crear</a></p>


		{% if latest_questions != NULL %}
			{% for question in latest_questions %}
				{% if question.creator == user.username %}
					<li><a href = "/polls/{{ question.id }}/closepoll"><b>{{question.question_text}}</b></a></li>	
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
   
	<!Si cierra sesión, se le notifica>
	{% else %}

	
		<h1>Cierre de sesión realizado correctamente</h1>
		<p> Volver al inicio <a href="/">aquí</a></p>

	{% endif %}



	 
{% endblock %}
