{% extends 'polls/base.html' %}

{% block main_content %}

<!Esta página aparecerá si se ha cerrado una consulta que no tenga participantes o si solamente tiene una Choice>
<h1 style ="color:darkred"> Se ha eliminado correctamente su consulta. </h1>
<p> Su consulta no tiene  vencedor porque no ha tenido ningún participante o sólo tenía un candidato</p>
	<li> Volver al inicio <a href="/">aquí</a></li>
{% endblock %}
