{% extends 'polls/base.html' %}
 	
<!Esta página permite responder a la consulta>
{% block main_content %}
   <h1 style ="color:darkblue"> {{question.question_text}} </h1>



<! Muestra mensaje de error si se hubiese realizado la consulta de manera incorrecta>
{% if error_message %} <p>{{error_message}}</p> 
{% endif %}

<p> </p>


<form action = "{% url 'polls:vote' question.id %}" method="post"> <!Post: Solicita que un servidor web acepte los datos incluidos en el cuerpo del mensaje>
<p><b>Considere la opción más a la izquierda como la de mayor prioridad: </b></p>
	{% csrf_token %}       <!para modificar datos>
	<!Se tienen tantos "Button type radio" como "Choices" haya tanto en filas como en columnas>
	{% for choice in question.choice_set.all %}
	
		{% for question in question.choice_set.all %}

			<input  type="radio" name="choice{{ choice.id }}" required  value="{{ forloop.counter }}"> 

		{% endfor %}

	<!Corresponde al texto de cada opción>
	<lable for="choice{{forloop.counter}}"> {{choice.choice_text}} </label> <br>
	
	<!Corresponde al número de opciones que hay que se incrementa en cada iteración del bucle>
	<input type="hidden" name="numberOfElements" value="{{ forloop.counter }}">

	<!Se le está pasando el nombre de la opcion seleccionada con el numero del ID al que corresponde>
	<input type="hidden" name="choiceSelected{{ forloop.counter }}" value="{{ choice.id }}">

	{% endfor %}



<p> </p>
<p> </p>
	<input type="submit"value="votar"/>
</form>





{% endblock %}
