{% extends 'polls/base.html' %}

{% block main_content %}

    {% if latest_questions %}
	<ul>
		{% for question in latest_questions %}
			<li><a href = {% url "polls:detail" question.id %}><b>{{question.question_text}}</b></a></li>
		{% endfor %}
	</ul>
    {% else %}
	<p> No tiene ninguna consulta. Cree alguna para que se muestre en la pagina actual. </p>
    {% endif %}

{% endblock %}
