<!doctype html>
<html lang="es">
 
<!Esta página es la única que no tiene ni footer ni header>
<!Es una pantalla simple con un fondo negro para hacer resaltar mejor la imagen QR>
  <body style="background-color:rgb(0,0,0);">
  
<!Se cargan las imágenes que se encuentran en el fichero "static">
{% load static %}

<p align="center" ><a href="/polls/{{ question.id }}"> <b style ="color:white">localhost:8000/polls/{{ question.id }}</a></b></p>
  <p align="center"><img src="{% static 'polls/' %}{{ question.id }}.png"></p>
<p align="center" ><b style ="color:white">Si desea volver al home: <a href = "/"><b>Volver al home</b></a></p></p>



  </body>
</html>
