{% extends 'polls/base.html' %}

{% block main_content %}
<!Una vez realizada la consulta, se muestra un mensaje de que se ha realizado correctamente>
<h1> Gracias por parcicipar en la consulta:  "{{question.question_text}}" </h1>
	<li>Sus resultados han sido guardados.</li>
	<p>Espere a que le proporcionen los resultados de la consulta.</p>
{% endblock %}
