{% extends 'polls/base.html' %}
{% load static %}
{% block main_content %}

<!Una vez guardados todos lo campos de la consulta, se muestra el link para su acceso, y el enlace a la página que nos muestra el QR y el link>

    <h1>Consulta creada</h1>

<p>Link de la consulta "<b>{{ question.question_text }}</b>": <a href="/polls/{{ question.id }}">localhost:8000/polls/{{ question.id }}</a></p>
<p>QR: <a href="/polls/{{ question.id }}/qrlink">localhost:8000/{{ question.id }}/qrlink</a></p>

{% endblock %}
