{% extends 'polls/base.html' %}

{% block main_content %}

<h1 style ="color:darkgreen"> La consulta "{{consulta}}" ha finalizado</h1>




		<li>{{lista_nueva}}</li>
		<li>{{matrix_of_distances}}</li>
		<li>{{sorted_wins}}</li>



		<!Se muestra el vencedor de la consulta>
		<p>El vencedor de la consulta por el método Schulze es: <b style ="color:darkblue">{{vencedorSchulze}}</b></p>
<p>Gracias por participar</p>

{% endblock %}
