<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Base home</title>
<!Este archivo a parecerá en la parte superior del home>
<h1 align="center" style ="color:darkblue"> Trabajo final de grado.</h1>
<h2 align="center"> Aplicación web para consultas utilizando el método Schulze</h2>


  </head>
<!Se establece el fondo de pantalla >
  <body style="background-color:rgb(190,230,240);">
   <hr> 

    <!Se comprueba si el usuario está conectado para mostrar la opción del cierre de sesíon>
    {% if user.username != "" %}  
      <p align="right"> <strong> Usuario: </strong> {{user.username}}    
      <p align="right"><a href="/polls/logout"><input type="button" value="Log out"/></a></p></p>
      <input type="hidden" name="userName" value="{{ user.username }}">
    {% endif %}

	<!Se hace la llamada a todo el bloque principal>
  	{% block main_content %}
	{% endblock %}
  
	<!Se llama a la parte inferior de la página>
	{% include "home/footer.html" %}
	
  </body>
</html>
