{% extends 'home/base.html' %}

{% block main_content %}

	<!Se comprueba si algún usuario ha iniciado sesión>
	<!Si no se ha iniciado sesión aparecerá la posibilidad de registrarse o iniciar sesión>
    	{% if user.username != "" %}  
	       	<h3 align="center"><b>Bienvenido {{user.username}}</b>, a continuación puede acceder a sus consultas creadas</h3>
		<p align="center"> Acceda a sus consultas creadas <a href="polls/dashboard"  <class = "button"> Acceder</a></p>
	<!Al haber iniciado sesión, aparecerán las opciones propias para el usuario>
	{% else %}
		<h3 align="center"> <b> En esta aplicación web podrá crear consultas </b></h3>
		<p align="center"> Inicio de sesion <a href="polls/login" <class = "button"> Login</a></p>
		<p align="center"> ¿Quiere registrarse? <a href="polls/register" <class = "button"> Registro</a></p>


	{% endif %}
{% endblock %}
